.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root, .App-container {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.send-me

.message-form {
  padding-bottom: 5px;
}

.send-message-box {
  width: 95%;
}

.message-viewer-container, .send-message-form, .send-message-container {
  width: 100%;
}

.message-view {
  text-align: left;
}

.message-user-name {
  padding: 5px;
}

.message-box {
  background-color: "gray";
  border: 1px solid gray;
  padding-left: 5px;
  padding-right: 5px;
}